.perfect{
  padding: 50px 0;
  &__title{
    max-width: 360px;
  }
  &-items{
    gap: 70px 0;
    padding: 0 30px;
    margin-bottom: 50px;
    counter-reset: item;
  }
}
.perfect-item {
  &__box {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    max-width: 205px;
    flex-shrink: 0;
    position: relative;
    &::before {
      counter-increment: item;
      content: counter(item);
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 39px;
      height: 39px;
      background-color: #E74492;
      position: relative;
      z-index: 1;
      font: 900 30px/ 35px $font;
      border-radius: 50%;
      margin-right: 16px;
      flex-shrink: 0;
      position: absolute;
      top:-20px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: '';
      width: 45px;
      height: 45px;
      position: absolute;
      border-radius: 50%;
      background: linear-gradient(180deg, #FFFFFF 0%, #F160A6 100%);
      z-index: 0;
      left: -3px;
      top: -3px;
      display: block;
      position: absolute;
      top:-23px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__img{
    border-radius: 25px;
  }
  &__text{
    font: 400 18px/22px $font;
    color: $black;
  }
  &:nth-child(odd){
    .perfect-item__box{
      margin-right: 25px;
    }
  }
  &:nth-child(even){
    flex-direction: row-reverse;
    .perfect-item__box{
      margin-left: 25px;
    }
  }
}
@media (max-width: 390px) {
  .perfect-items {
    padding: 0 15px;
}
  .perfect-item__box {
    max-width: 150px;
}
}